#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}
body{ margin:0 auto; }

#heading{
  background-color: white;
  text-align: center;
  font-size:100%;

}

.container {
  float: left;
}


.line 
{
  fill: none;
  stroke:black;
  stroke-width: 2px;
}

.x-axis line, .x-axis path 
{
    stroke: #fff; 
}

.dot {
  stroke: #000;
  border-width: thick;
}

.functions{
  border: 1px outset black;
  background-color: rgb(146, 171, 179);
  text-align: center;
}

.button input[type="button"] {
  color:#eff2f5;
  font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  font-size:70%;
  padding:8px;
  background:repeat-x center #41a146;
  background-color:rgb(55, 110, 162);
  border:1px solid #27ab57;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border-bottom:1px solid #9f9f9f;
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
  cursor:pointer;
  display:inline-flex;
  width:20%;
  text-align: center;
}
.button input[type="button"]:hover {
  background-color:rgba(114, 140, 189, 0.8);
}
